@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
h1{
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-top: 30px;
    color: #F90;
    text-align: center;
}
#h1{
    width: 500px;
}

/* Animation webkit */
@-webkit-keyframes myfirst
{
    0% {margin-left: -235px}
    90% {margin-left: 100%;}
    100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
    0% {margin-left: -235px}
    70% {margin-left: 100%;}
    100% {margin-left: 100%;}
}

.fish{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s;
    -webkit-animation: myfirst 24s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

#fish{
    top: 120px;
}

#fish2{
    top: 260px;
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}


.header1{
    height: 160px;
    background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
    height: 100%;
    padding-top: 40px;
    background-color: #98d4f3;
    overflow: hidden;
    position: relative;
    color: white;
}
form{
    margin: 0 auto;
    position: relative;
}

.name-label {
    display: inline-block;
    width: 100%;
}

.name-label > label {
    margin-top: 10px;
}

label, textarea{
    display: inline-block;
}

input, textarea{
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;

}
input:focus, textarea:focus{
    border: solid 3px #77bde0;
}

.input, .textarea{
    display: block;
    width: 500px;
}

textarea{
    height: 100px;
    resize: none;
    overflow: auto;
}
input[type="submit"]{
    background-color: #F90;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
input[type="submit"]:hover{
    background-color: #e58f0e;

}
.label{
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
}

.formgroup{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}
.formgroup-active{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    color: red;
}
#remember, #quality{
    color: black;
}
#quality{
    padding-left: 20px;
}
#contact{
    font-size: 4em;
}
#waterform{
    width: 500px;
}

.login{
    display: block;
    width: 361px;
    margin-left: 7px;
}

.address{
    color: black;
}

.buton2{
    color: white;
    height: 50px;
    cursor: pointer;
    padding-top: 10px;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
/*admin*/
.header2{
    margin: 0px 0px 0px 0px;
}

div.dataTables_filter label {
    float: right;
}

.link_order{
    color: #fff;
}
.page-header{
    border-bottom: none;
    padding-top: 10px;
}
.admin_name{
    font-weight: normal;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    color: #F90;
    text-align: center;
}
.noti{
    padding: 15px 0;
    padding-bottom: 15px;
    border-left: 3px solid green;
}
.site-section2{
    padding-top: 0px;
}
.notifi{
    color: red;
}
.navbar2{
    min-height: 0px;
    margin-bottom: 0px;
    border-color: #337ab7;
}
#page-wrapper{
    border-left: 1px solid #337ab7;
}
.sidebar_admin{
    margin-top: 5px;
}


.nav1 ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}
.nav1 li {
  font-family: 'Sniglet', cursive;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav1 a {
  text-decoration: none;
  display: block;
  font-family: 'Sniglet', cursive;
  transition: .3s background-color;
  color: #f03506;
}

.nav1 a:hover {
  background-color: #005f5f;
  color: #fff;
}

.nav1 a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav1 li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav1 li {
    display: inline-block;
    margin-right: -4px;
  }

}


